@font-face {
  font-family: 'chelsea';
  src: url('fonts/chelsea-webfont.eot');
  src: url('fonts/chelsea-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/chelsea-webfont.woff2') format('woff2'),
       url('fonts/chelsea-webfont.woff') format('woff'),
       url('fonts/chelsea-webfont.ttf') format('truetype'),
       url('fonts/chelsea-webfont.svg#chelsearegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto-regular-webfont.eot');
  src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('fonts/roboto-regular-webfont.woff') format('woff'),
       url('fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family: 'roboto', 'sans-serif', 'serif';
}
.prem-players {
  display:none;
}
h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: 'chelsea', 'sans-serif', 'serif';
  font-size: 3em;
}
.inputs {
  width: 30%;
  margin: .75% auto;
  min-width: 275px;

  > * {
    float: left;
    text-align: center;
  }
  label {
    width: 50%;
  }
  > :not(label) {
    width: 40%;
    margin: 0 5%;
  }
}

#build-dream-team {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
article {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  min-width: 800px;

  &.dream-team {
    display: none;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
  }
  &.suggestions {
    height: 100%;
  }
  > div {
    width: 24.5%;
    margin: 0 .25%;
    float: left;

    > * {
      float: left;
    }
    > div {
      width: 100%;
      margin: 0 .1%;

      &.heading > * {
        border-top: 1px solid #CAC6FF;
      }
    }
    > label, > input {
      width: 80%;
      margin: .5% 10%;
      text-align: center;
    }
  }
}
.dream-team div.dt-stats > {
  width: 70%;
  margin: 0 15%;

  div > span {
    width: 33%;
  }
}

.dream-team h2 {
  text-align: center;
  margin: 0;
  text-align: center;
}

div.player > * {
  border-width: 0;
  border-color: transparent;
  border-bottom: 1px solid #CAC6FF;
  border-right: 1px solid #CAC6FF;

  &:first-child {
    border-left: 1px solid #CAC6FF;
  }
  &:last-child > *:last-child {
    border-right: 1px solid #CAC6FF;
  }
}
div.replacement {
  position: relative;
  box-shadow: 0 0 0 1px transparent;
  margin: 0;
  transition: .3s;

  &.show {
    border: 1px solid darkblue;
    margin-top: 1%;
  }
  h3 {
    text-align: center;
    font-size: 1em;
    margin: 0;
  }
}
span.clear-selection {
  border: 0;
  width: 3%;
  position: absolute;
  top: 0;
  left: 1%;
  color: red;
  transform: scale(1);
  transition: .3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}
.dream-team span.clear-selection {
  width: 1%;
}
article > div > div span {
  width: 14%;
  float: left;
  font-size: .9em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.long {
    width: 29%;
  }
}

div.heading span {
  font-weight: bold;
}
div.player > * {
  transition: .3s;
  background-color: transparent;
}
article:not(.dream-team) div div.player:not(.heading):hover > * {
  background-color: #CAC6FF;
  cursor: pointer;
}
div.player.player-suggestion > span {
  border-color: red;

  &:last-child {
    border-color: red;
  }
}
article > div > h3 {
  font-size: 1em;
  margin: 0;
  width: 100%;
  text-align: center;
  border: 1px solid red;
  border-top: 0;
}
.clear-fix:before, .clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after {
  clear: both;
}
.clear-fix {
  zoom: 1;
  /* IE6&7 */
}
